*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin:  0 auto;
}

nav {
    padding: 1rem;
    background-color: #62b0cd;
    
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
} 

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #aacbd7;
}

.hero-con {
    display: flex;
}

.hero.info {
    width: 150%;
    padding: 2rem;
}

.hero-info h3 {
    text-align: center;
    background-color: #f0f0f0;
    color: #00465f;
    padding: 0.1rem;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 2rem;
    width: 500px;
}

.hero-info p {
    text-indent: 50px;
    text-align: center;
    margin: 1rem 0;
}

.hero-img img{
    border: 1px solid grey;
    height: 400px;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    margin: 2rem;
}

.blog-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}


.blog-title {
    margin: 2rem 0;
}


.blog-item img {
    
    height: 250px;
    width: 250px;
    border: 5px solid rgb(110, 161, 212);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.blog-item h4{
    
    margin-top: 1rem;
}

.blog-item p {
    margin: 1rem 0;
}

.blog-item a {
    display: inline-block;
    color: #9fa7ff;
    background-color:#6750ff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.footer-top {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #62b0cd;
    color: #fff;
}

.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    columns: 2rem;
}

.footer-top-item-con {
    display: flex;
    margin: 1rem 0;
}

.footer-top-item h4{
    color: #00465f;
}

.footer-top-item-con .date {
    background-color: #f0f0f0;
    color: #333;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4{
    margin-bottom: 1rem;
}

.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}